

/* ---Adress, Nav, Header--- */
/* ---Main, First Section--- */

.first-section {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        to bottom, 
        rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)
    ), 
    url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}

.section {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}



/* --Main Title-- */

.main-title {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

/* --Button-- */

.main-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;    
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    max-width: 496px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}

/* ---Button, Main Title, First Section--- */
/* ---Second Section--- */

.second-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* --Second Title-- */



/* --Second List-- */

.div-second-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    border-radius: 4px;
    margin-bottom: 8px;
}

.second-list {
    display: flex;
    gap: 24px;
}

.page-list {
    background-color: #FFFFFF;
    
}

.second-page-list {
    flex-basis: calc((100% - 72px) / 4);
}

.first-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    text-align: center;
    margin-bottom: 8px;
}

.second-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;

    margin-bottom: 8px;
    }

.second-page-list-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.page-list-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

/* ---Second List, Second Title, Second Section--- */
/* ---Third Section--- */

.third-section {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #F4F4FD

}

/* --Third Title--  */

.page-our-team-portfolio {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

/* --Third List-- */

.third-list {
    display: flex;
    gap: 24px;
}

.third-page-list-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

.third-page-list {
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    background: var(--white, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.first-div-item {
    padding-top: 32px;
    padding-bottom: 32px;
}

.third-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.list-third-icon {
    width: 40px; 
    height: 40px;
}

.adress-third-icon {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-third-icon:hover,
.adress-third-icon:focus {
    background-color: #404bbf;
}

.third-icon-item {
    fill: #f4f4fd;
}

/* ---Third List, Third Title, Third Section--- */
/* ---Four Section--- */

.four-section {
    padding-top: 120px; 
    padding-bottom: 120px;
}

/* --Four List-- */

.four-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.four-page-list {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.div-overlay {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.four-container {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
    background: #FFFFFF;
    
}

.four-page-list:hover .overlay {
    transform: translateY(0%);    
}

.four-page-list:hover {
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.four-list-title {
    border-top: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    margin-bottom: 8px;
}

.four-page-list-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ---Four List, Four Section--- */
/* ---Page Footer--- */

.page-footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;   
}

.container-page-footer {
    display: flex;
    align-items: baseline;
}

.div-footer {
    margin-right: 120px;
}

.second-accent {
    color: #f4f4fd;
}

.second-main-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.first-footer-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.second-footer-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;    
}

.footer-icon {
    display: flex;
    gap: 16px;
}

.footer-icon-item {
    width: 40px;
    height: 40px;
}

.footer-icon-adress {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-adress:hover,
.footer-icon-adress:focus {
    background-color: #31d0aa;
}

.svg-footer-icon-item {
    fill: #f4f4fd;
}

.form-container {
    margin-left: 80px;
}

.mail-form {
    display: flex;
    align-items: end;
    gap: 24px;
}

.form-label {
    display: flex;
    flex-direction: column;
    gap: 16px;
 
}

.input-mail {
    width: 264px;
    height: 40px;
    flex-shrink: 0;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.48px;
    border-radius: 4px;
    padding-left: 16px;
    border: 1px solid var(--WHITE, #FFF);
    filter: drop-shadow(0px 4px 4px 0px rgba(0, 0, 0, 0.15));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.name-subscribe {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-button {
    min-width: 165px;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
    background-color: #404BBF;
}

.svg-footer {
    margin-left: 16px;
}


.backdrop {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    background-color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    padding-top: 72px; 
    padding-right: 24px; 
    padding-bottom: 24px; 
    padding-left: 24px;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background: var(--DAIRY, #FCFCFC);
}

.close-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    line-height: 0;
    border-radius: 50%;
    stroke-width: 1px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    stroke: rgba(0, 0, 0, 0.10);    
}

.close-button:hover,
.close-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff
}


.svg-modal-button {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-modal-button:hover,
.svg-modal-button:focus {
    fill: #ffffff
}

.modal-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.name {
    margin-bottom: 8px;
}

.label-name {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.div-input-name {
    position: relative;
}

.input-name {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-name:focus {
    border-color: #4D5AE5;
}

.input-name:focus + .svg-input-name {
    fill: #4D5AE5;
}

.svg-input-name {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
    margin-bottom: 16px;
}

.text-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-comment:focus {
    border-color: #4D5AE5;
}

.div-label {
    margin-bottom: 24px;
}

.label-privacy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.input-privacy {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;

}

.span-privacy {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.input-privacy:checked + .label-privacy > .span-privacy {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.input-privacy:focus + .label-privacy > .span-privacy {
    border-color: #4D5AE5;
}

.link-privacy {
    color: #4d5ae5;
}

.button-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-form:hover,
.button-form:focus {
    background-color: #404BBF;
}